<div class="text-center mt-5">
    <h1 class="text-primary">Welcome to Inventory Management!</h1>
</div>

<div class="px-5 pt-3">
    <p>
        This project utilizes Spring Boot 3 for the backend and Angular 16 for the frontend.

        In the backend, Spring Boot manages services and communicates with MySQL, while Keycloak handles authentication
        securely within Docker containers. Extensive testing ensures reliability.

        On the frontend, Angular, combined with Angular Material, delivers a sleek and intuitive user interface. The
        modular approach ensures clean and maintainable code.</p>

</div>