<mat-card>
    <h2 class="alinear-centro">Listado de categorias</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Busque categoria" appearance="fill">
                <mat-label>Buscar Categorías</mat-label>
                <input matInput #input>
            </mat-form-field>
        </div>
    </mat-card-header>
    <mat-card-header>    
        <div class="right">
            <ul>
                <li>
                    <button mat-raised-button color="primary">Agregar Categoría</button>
                </li>
            </ul>
        </div>
    </mat-card-header>


</mat-card>
