<div class="dashboard-container">

    <!-- TOOLBAR-->
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="app-name">S-Inventory</h1>

        <div class="right">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <mat-icon>exit_to_app</mat-icon>
                        Cerrar Sesión                     
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>

    <!-- SIDENAV -->
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                 <!-- PROFILE -->
                 <div class="profile-card">
                    <div class="header">
                        <h2 class="padding-8">Pablo García Simavilla</h2>
                        <h4 class="padding-8">pgarcsim2334@hotmail.com</h4>
                    </div>
                 </div>              
                 <mat-divider></mat-divider>
                 <!-- MENU -->
                 <a>
                    
                 </a>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
    <router-outlet></router-outlet>
</div>
